/*------------- ADD TASK -------------*/

#add-task-page {
  padding: 79.5px 54px 79.5px 64px;
  max-width: 980px;
}

#add-task-page h1 {
  color: var(--black);
  font-size: 61px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 32px;
}

/*------------- ADD TASK - FORMULAR CONTENT -------------*/

.add-task-header {
  display: flex;
  justify-content: space-between;
}

.add-task-img-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.add-task-img-close img {
  width: 24px;
  height: 24px;
}

.add-task-img-close:hover {
  background-color: var(--very-light-gray);
  border-radius: 16px;
}

.red-dot {
  color: var(--light-red);
}

.add-task-formular,
.edit-task-formular {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
}

.add-task-left,
.add-task-right,
.edit-task-left,
.edit-task-right {
  width: 440px;
}

.add-task-left,
.add-task-right {
  padding-bottom: 80px;
}

.add-task-middle {
  width: 96px;
}

.add-task-formular input,
.edit-task-formular input {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 396px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
}

.add-task-formular textarea,
.edit-task-formular textarea {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 406px;
  height: 84px;
  margin-bottom: 32px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 18px 16px;
}

.add-task-formular select,
.edit-task-formular select {
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  width: 440px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 16px;
}

.edit-task-formular input,
.edit-task-formular textarea {
  color: var(--black);
}

.add-task-line {
  width: 1px;
  height: 520px;
  background-color: var(--light-gray);
  margin: 0 48px;
}

.small {
  height: 24px;
  margin: 0 10px;
}

.add-task-prio-fields {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.add-task-prio-button {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.add-task-prio-field {
  background-color: var(--white);
  font-size: 20px;
  font-weight: 400;
  width: 136px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 10px 16px;
  cursor: pointer;
}

.add-task-prio-field-clicked {
  cursor: unset;
  color: var(--white);
  border: 0;
}

.add-task-prio-field:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.add-task-subtask {
  position: relative;
  padding-bottom: 12px;
}

#add-task-icon-add,
#add-task-icon-close-check {
  position: absolute;
  top: 57px;
  right: 10px;
}

#add-task-icons {
  height: 0;
}

#add-task-subtask {
  cursor: pointer;
}

.add-task-icon:hover {
  background-color: var(--very-light-gray);
  border-radius: 16px;
  cursor: pointer;
}

.add-task-subtask-addet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 418px;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 20px;
}

.edit-task-subtask-addet input {
  height: 25px;
  width: 290px;
  max-width: 310px;
  padding: 0 0 0 8px;
  margin: 0;
  color: var(--black);
  background-color: var(--very-light-gray);
  font-size: 17px;
  border: 0;
}

.edit-task-subtask-addet li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-task-subtask-addet img:first-child {
  filter: invert();
}

.edit-task-subtask-addet img:hover {
  filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
    brightness(92%) contrast(92%);
}

.add-task-subtask-addet:hover {
  background-color: var(--very-light-gray2);
}

.add-task-subtask-line {
  height: 22px;
  width: 1px;
  background-color: var(--gray);
  margin: 0 6px;
}

.add-task-icons-addet {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*------------- ADD TASK - FOOTER -------------*/

.add-task-footer {
  display: flex;
  justify-content: space-between;
}

.add-task-buttons {
  display: flex;
}

.add-task-required {
  font-size: 20px;
  font-weight: 400;
}

.add-task-btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-btn-inside span {
  margin-right: 4px;
}

.add-task-btn-clear {
  height: 56px;
  padding: 0 16px;
  border-radius: 10px;
  border: 0;
  background: var(--white);
  color: var(--black);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var(--dark-blue);
  background: var(--white);
}

.add-task-btn-clear:hover {
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  fill: var(--light-blue);
}

.add-task-btn-create {
  height: 56px;
  width: 183px;
  padding: 0 16px;
  border-radius: 10px;
  border: 0;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}

.add-task-btn-create:hover {
  background-color: var(--light-blue);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.add-task-errortext {
  font-size: 14px;
  color: var(--red);
}

/*------------- EDIT TASK -------------*/

#edit-task-page {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  height: auto;
  max-height: 90vh;
  padding: 48px 40px;
  background-color: var(--white);
  border-radius: 30px;
  padding: 24px;
  margin: 24px;
}

/*------------- EDIT TASK - FORMULAR CONTENT -------------*/

.edit-task-header {
  display: flex;
  justify-content: space-between;
}

.edit-task-img-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.edit-task-img-close img {
  width: 24px;
  height: 24px;
}

.edit-task-img-close:hover {
  background-color: var(--very-light-gray);
  border-radius: 16px;
}

.edit-task-prio-fields {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.edit-task-prio-button {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.edit-task-prio-field {
  background-color: var(--white);
  font-size: 20px;
  font-weight: 400;
  width: 136px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 10px 16px;
  cursor: pointer;
}

.edit-task-prio-field-clicked {
  cursor: unset;
  color: var(--white);
  border: 0;
}

.edit-task-prio-field:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.edit-task-subtask {
  padding-bottom: 12px;
}

#edit-task-icons {
  height: 0;
}

#edit-task-subtask {
  cursor: pointer;
}

#edit-task-icon-add,
#edit-task-icon-opencontact,
#edit-task-icon-closecontact,
#add-task-icon-opencontact,
#add-task-icon-closecontact {
  position: relative;
  top: -52px;
  left: 400px;
  width: 24px;
}

#edit-task-icon-close-check {
  position: relative;
  top: -52px;
  left: 355px;
  width: 72px;
}

.edit-task-icon:hover {
  background-color: var(--very-light-gray);
  border-radius: 16px;
  cursor: pointer;
}

#edit-task-subtask-addet {
  height: 100px;
  max-width: 440px;
  overflow: auto;
}

.edit-task-subtask-addet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 20px;
}

.edit-task-subtask-addet:hover {
  background-color: var(--very-light-gray2);
}

.edit-task-subtask-line {
  height: 22px;
  width: 1px;
  background-color: var(--gray);
  margin: 0 6px;
}

.edit-task-icons-addet {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.edit-task-assignet {
  position: relative;
  height: 150px;
}

.edit-task-assignet {
  position: relative;
}
.edit-task-assignet-overlay {
  position: absolute;
  top: 95px;
  width: 438px;
  height: 150px;
  border-radius: 10px 10px 20px 20px;
  border: 1px solid var(--light-gray);
  border-top: 0px;
  background-color: var(--white);
  overflow: auto;
  z-index: 1;
}

.add-task-assignet {
  position: relative;
  z-index: 0;
}

.add-task-assignet-overlay {
  position: absolute;
  top: 95px;
  width: 438px;
  height: 150px;
  border-radius: 10px 10px 20px 20px;
  border: 1px solid var(--light-gray);
  border-top: 0px;
  background-color: var(--white);
  overflow: auto;
  z-index: 1;
}

.edit-task-contact-overlay input {
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.edit-task-contact-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  cursor: pointer;
}

.edit-task-contact-overlay span:first-child {
  padding-left: 10px;
}

.edit-task-contact-overlay:hover {
  background-color: var(--very-light-gray);
}

.edit-task-subtask {
  font-size: 16px;
}

/*------------- EDIT TASK - FOOTER -------------*/

.edit-task-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 44px;
}

.edit-task-buttons {
  display: flex;
}

.edit-task-btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-task-btn-inside span {
  margin-right: 4px;
}

.edit-task-btn {
  height: 56px;
  width: 90px;
  padding: 0 16px;
  border-radius: 10px;
  border: 0;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}

.edit-task-btn:hover {
  background-color: var(--light-blue);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.edit-card-footer {
  position: absolute;
  top: 110px;
}

/*------------- GLOBAL -------------*/

.right {
  justify-content: right;
}

.right-margin {
  margin-right: 12px;
}

.flex {
  display: flex;
}

.max-brightness {
  filter: brightness(100);
}

.bgcolor-red {
  background-color: var(--red);
}

.bgcolor-orange {
  background-color: var(--orange);
}

.bgcolor-green {
  background-color: var(--green);
}

.text-wrap-overflow {
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.red-border {
  border-color: var(--red) !important;
}

.d-none {
  display: none;
}

/*------------- MEDIA -------------*/

@media (max-width: calc(1210px + 232px)) {
  #add-task-page {
    max-width: 440px;
  }
  .add-task-footer,
  .edit-task-footer {
    padding-top: 48px;
    width: 100%;
  }

  .add-task-formular,
  .edit-task-formular {
    display: block;
  }

  .add-task-middle,
  .edit-task-middle {
    display: none;
  }

  .add-task-left,
  .add-task-right,
  .edit-task-left,
  .edit-task-right {
    width: 100%;
  }

  .add-task-left,
  .add-task-right {
    padding-bottom: 0;
  }

  .add-task-required {
    top: 1180px;
  }
}

@media (max-width: 690px) {
  #add-task-page {
    max-width: 340px;
  }
  .dialog {
    padding: 64px 74px !important;
  }

  #add-task-icon-add,
  #add-task-icon-close-check {
    top: 47px;
  }

  .add-task-formular,
  .edit-task-formular {
    font-size: 16px;
  }

  .edit-task-subtask-addet input {
    width: 200px !important;
  }

  .add-task-formular input,
  .edit-task-formular input {
    font-size: 16px;
    width: 296px;
  }

  .add-task-formular textarea,
  .edit-task-formular textarea {
    font-size: 16px;
    width: 306px;
  }

  .add-task-formular select,
  .edit-task-formular select,
  .add-task-prio-fields,
  .edit-task-prio-fields {
    font-size: 16px;
    width: 340px;
  }

  .add-task-prio-field,
  .edit-task-prio-field {
    font-size: 16px;
    width: 106px;
  }

  .add-task-required {
    top: 1070px;
  }

  .add-task-buttons {
    padding-left: 42px;
  }

  .add-task-footer {
    flex-direction: column;
    width: 340px;
  }

  .add-task-required {
    padding-bottom: 24px;
  }

  #edit-task-icon-add,
  #edit-task-icon-opencontact,
  #add-task-icon-opencontact {
    left: 300px;
  }
}

@media (max-width: 550px) {
  .dialog {
    padding: 64px 34px !important;
  }
}

/*------------- MOBILE -------------*/

@media (max-width: 475px) {
  #add-task-page {
    padding: 48px 8px;
    max-width: 100% !important;
  }

  #add-task-icon-add,
  #add-task-icon-close-check {
    top: 63px;
  }

  .mobile-header-include {
    display: block;
  }

  .add-task-btn-clear {
    display: none;
  }

  .add-task-left {
    padding-top: 88px;
  }

  .add-task-right {
    padding-bottom: 60px;
  }

  .add-task-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 95%;
    top: 80px;
    left: 0;
    right: 0;
    padding-top: 48px;
    background-color: var(--very-light-gray);
    box-shadow: 0px 2px 4px 0px var(--very-light-gray);
  }

  #add-task-page h1 {
    font-size: 47px;
  }

  .add-task-left,
  .add-task-right,
  .edit-task-left,
  .edit-task-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-task-required {
    position: unset;
    padding: 0;
    font-size: 16px;
  }

  .add-task-buttons {
    padding: 0;
  }

  .add-task-footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 95%;
    bottom: 80px;
    left: 0;
    right: 0;
    height: 88px;
    background-color: var(--very-light-gray);
    box-shadow: 0px -2px 4px 0px var(--very-light-gray);
    padding: 0;
  }

  .add-task-required {
    padding-left: 16px;
  }

  .add-task-buttons {
    padding-right: 16px;
  }

  .mobile-navbar-include {
    display: block;
  }
}

@media (max-width: 420px) {
  .edit-task-prio-field {
    width: 86px;
  }

  .edit-task-prio-fields {
    width: 290px;
  }

  .edit-task-formular input {
    width: 246px;
  }

  .edit-task-formular textarea {
    width: 258px;
  }

  .edit-task-formular select {
    width: 290px;
  }
  #edit-task-icon-add,
  #edit-task-icon-opencontact,
  #add-task-icon-opencontact {
    left: 250px;
  }
}

@media (max-width: 370px) {
  #add-task-page {
    padding: 48px 0px;
  }
  .add-task-prio-fields span,
  .edit-task-prio-fields span {
    display: none;
  }

  .add-task-formular input {
    width: 248px;
  }

  .edit-task-formular input {
    width: 198px;
  }

  .add-task-formular textarea {
    width: 258px;
  }

  .edit-task-formular textarea {
    width: 208px;
  }

  .add-task-formular select,
  .add-task-prio-fields {
    width: 290px;
  }

  .edit-task-prio-fields {
    width: 240px;
  }

  .edit-task-formular select {
    width: 240px;
  }

  .add-task-prio-field {
    width: 86px;
  }

  .edit-task-prio-field {
    width: 72px;
  }

  #edit-task-icon-add {
    left: 200px;
  }
}
