/* .add-task-page */
body {
  margin: 0;
  background-color: var(--very-light-gray);
  padding: 110px 136px 71px 96px;
}

h1 {
  color: var(--black);
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 48px;
}

/*------------- FORMULAR CONTENT -------------*/

.red-dot {
  color: var(--light-red);
}

.add-task-formular {
  display: flex;
  font-size: 20px;
  font-weight: 400;
}

.add-task-left,
.add-task-right {
  width: 440px;
}

.add-task-middle {
  width: 96px;
}

.add-task-formular input {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 398px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
}

.add-task-formular textarea {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 408px;
  height: 84px;
  margin-bottom: 32px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 18px 16px;
}

.add-task-formular select {
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  width: 440px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 16px;
}

.add-task-line {
  width: 1px;
  height: 424px;
  background-color: var(--light-gray);
  margin: 0 48px;
}

.small {
  height: 24px;
  margin: 0 10px;
}

.add-task-prio-fields {
  display: flex;
  justify-content: space-between;
}

.add-task-prio-button {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.add-task-prio-field {
  background-color: var(--white);
  font-size: 20px;
  font-weight: 400;
  width: 136px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 10px 16px;
  cursor: pointer;
}

.add-task-prio-field-clicked {
  cursor: unset;
  color: var(--white);
  border: 0;
}

.add-task-prio-field:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

#add-task-subtask {
  cursor: pointer;
}

#add-task-icon-add {
  position: relative;
  top: -52px;
  left: 400px;
  width: 24px;
}

#add-task-icon-close-check {
  position: relative;
  top: -52px;
  left: 355px;
  width: 72px;
}

.add-task-icon:hover {
  background-color: var(--very-light-gray);
  border-radius: 16px;
  cursor: pointer;
}

/*------------- GLOBAL -------------*/

.d-none {
  display: none;
}

.flex {
  display: flex;
}

.max-brightness {
  filter: brightness(100);
}

.bgcolor-red {
  background-color: var(--red);
}

.bgcolor-orange {
  background-color: var(--orange);
}

.bgcolor-green {
  background-color: var(--green);
}
