/*------------- ADD TASK -------------*/

#add-task-page {
  padding: 43.5px 54px 43.5px 64px;
  max-width: 980px;
  height: 80%;
}

#add-task-page h1 {
  color: var(--black);
  font-size: 61px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 32px;
}

/*------------- ADD TASK - FORMULAR CONTENT -------------*/

.add-task-header {
  display: flex;
  justify-content: space-between;
}

.add-task-img-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.add-task-img-close img {
  width: 24px;
  height: 24px;
}

.add-task-img-close:hover {
  background-color: var(--very-light-gray);
  border-radius: 16px;
}

.red-dot {
  color: var(--light-red);
}

.add-task-formular,
.edit-task-formular {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
  height: 620px;
}

.add-task-dialogbox {
  height: 500px !important;
  width: 1000px;
  overflow-y: auto;
}

.edit-task-formular {
  height: 500px;
}

.add-task-left,
.add-task-right,
.edit-task-left,
.edit-task-right {
  width: 440px;
}

.add-task-left,
.add-task-right {
  padding-bottom: 80px;
}

.add-task-middle {
  width: 96px;
}

.add-task-formular input,
.edit-task-formular input {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 396px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
}

.add-task-formular textarea,
.edit-task-formular textarea {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 406px;
  height: 84px;
  margin-bottom: 32px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 18px 16px;
}

.add-task-formular select,
.edit-task-formular select {
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  width: 440px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 16px;
}

.edit-task-formular input,
.edit-task-formular textarea {
  color: var(--black);
}

.add-task-line {
  width: 1px;
  height: 520px;
  background-color: var(--light-gray);
  margin: 0 48px;
}

.small {
  height: 24px;
  margin: 0 10px;
}

.add-task-prio-fields {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.add-task-prio-button {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.add-task-prio-field {
  background-color: var(--white);
  font-size: 20px;
  font-weight: 400;
  width: 136px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 10px 16px;
  cursor: pointer;
}

.add-task-prio-field-clicked {
  cursor: unset;
  color: var(--white);
  border: 0;
}

.add-task-prio-field:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.add-task-subtask {
  position: relative;
  padding-bottom: 12px;
}

#add-task-icon-add,
#add-task-icon-close-check {
  position: absolute;
  top: 57px;
  right: 10px;
}

#add-task-icons {
  height: 0;
}

#add-task-subtask {
  cursor: pointer;
}

.add-task-icon:hover {
  background-color: var(--very-light-gray);
  border-radius: 16px;
  cursor: pointer;
}

#add-task-subtask-addet {
  height: 100px;
  overflow: auto;
}

.add-task-subtask-addet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 418px;
  font-size: 16px;
  padding: 4px 12px;
  border-radius: 20px;
}

.edit-task-subtask-addet input {
  height: 25px;
  width: 290px;
  max-width: 310px;
  padding: 0 0 0 8px;
  margin: 0;
  color: var(--black);
  background-color: var(--very-light-gray);
  font-size: 17px;
  border: 0;
}

.edit-task-subtask-addet li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-task-subtask-addet img:first-child {
  filter: invert();
}

.edit-task-subtask-addet img:hover {
  filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
    brightness(92%) contrast(92%);
}

.add-task-subtask-addet:hover {
  background-color: var(--very-light-gray2);
}

.add-task-subtask-line {
  height: 22px;
  width: 1px;
  background-color: var(--gray);
  margin: 0 6px;
}

.add-task-icons-addet {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*------------- ADD TASK - FOOTER -------------*/

.add-task-footer {
  display: flex;
  justify-content: space-between;
}

.add-task-buttons {
  display: flex;
}

.add-task-required {
  font-size: 20px;
  font-weight: 400;
}

.add-task-btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-btn-inside span {
  margin-right: 4px;
}

.add-task-btn-clear {
  height: 56px;
  padding: 0 16px;
  border-radius: 10px;
  border: 0;
  background: var(--white);
  color: var(--black);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid var(--dark-blue);
  background: var(--white);
}

.add-task-btn-clear:hover {
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  fill: var(--light-blue);
}

.add-task-btn-create {
  height: 56px;
  width: 183px;
  padding: 0 16px;
  border-radius: 10px;
  border: 0;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}

.add-task-btn-create:hover {
  background-color: var(--light-blue);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

@keyframes fontWeightAnimation {
  0% {
    font-weight: bold;
  }
  100% {
    font-weight: normal;
  }
}

.add-task-errortext {
  font-size: 14px;
  color: var(--red);
  animation: fontWeightAnimation 0.5s ease-in;
}

/*------------- EDIT TASK -------------*/

#edit-task-page {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  height: auto;
  max-height: 90vh;
  padding: 48px 40px;
  background-color: var(--white);
  border-radius: 30px;
  padding: 24px;
  margin: 24px;
}
