/* body */
.board-page {
  margin: 0;
  background-color: var(--very-light-gray);
  padding: 97.5px 0 0 64px;
  height: 100%;
}

/*------------- BOARD HEADER -------------*/

h1 {
  color: var(--black);
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

.board-header {
  display: flex;
  justify-content: space-between;
}

.board-search {
  display: flex;
  align-items: center;
}

.board-btn-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-btn-inside span {
  margin-right: 4px;
}

.board-btn-add-task {
  height: 48px;
  width: 165px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 0;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  margin-left: 16px;
}

.board-btn-add-task:hover {
  background-color: var(--light-blue);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.board-search input {
  width: 312px;
  padding: 8px 16px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gray);
  background: var(--white);
}

/*------------- BOARD CONTENT -------------*/
