/*------------- TASK OVERLAY -------------*/

.task-overlay {
  display: flex;
  flex-direction: column;
  width: 525px;
  height: auto;
  max-height: 90vh;
  padding: 48px 40px;
  background-color: var(--white);
  border-radius: 30px;
  padding: 24px;
  margin: 24px;
  position: relative;
}

.task-overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.task-overlay-img-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 4px;
  cursor: pointer;
}

.task-overlay-img-close:hover {
  background-color: var(--very-light-gray);
  border-radius: 12px;
}

#task-overlay-category {
  font-size: 23px;
  padding: 4px 24px;
  border-radius: 8px;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--black);
}

.task-overlay-headline h2 {
  width: 100%;
  font-size: 61px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

.task-overlay-content {
  font-size: 20px;
  font-weight: 400;
}

#task-overlay-description {
  margin-bottom: 24px;
}

.task-overlay-date,
.task-overlay-prio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.task-overlay-date p,
.task-overlay-prio p {
  width: 100px;
  margin: 0;
  padding: 0 25px 0 0;
}

.task-overlay-prio span {
  margin-right: 10px;
}

#task-overlay-prio {
  display: flex;
  align-items: center;
}

#task-overlay-prio img {
  padding-left: 10px;
}

.task-overlay-assigned-person,
.task-overlay-subtasks {
  margin-bottom: 24px;
}

.task-overlay-person,
.task-overlay-subtask {
  display: flex;
  padding: 7px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
}

.task-overlay-person p {
  margin: 0;
  padding-left: 16px;
  font-size: 19px;
  font-weight: 400;
}

.task-overlay-person span {
  text-shadow: 1px 1px 2px var(--black);
}

.task-overlay-subtask input {
  cursor: pointer;
}

.task-overlay-subtask p {
  margin: 0;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.task-overlay-subtask span {
  margin: 0;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
}

.task-overlay-footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.task-overlay-footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  padding-right: 8px;
}

.task-overlay-footer a:hover {
  filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
    brightness(92%) contrast(92%);
}

.task-overlay-footer img {
  padding-right: 8px;
}

.task-overlay-footer-img {
  width: 24px;
  height: 24px;
}

/*------------- GLOBAL -------------*/

.text-wrap-overflow {
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.d-none {
  display: none;
}

.margin-left {
  margin-left: -10px;
}
