:root {
  --black: #000;
  --white: #fff;
  --dark-blue: #2a3647;
  --gray: #a8a8a8;
  --light-gray: #d1d1d1;
  --very-light-gray: #f6f7f8;
  --light-blue: #28abe2;
}

body {
  margin: 0;
  background-color: var(--very-light-gray);
  font-family: "Figtree", sans-serif;
  width: 1440px;
}

.logo {
  position: absolute;
  left: 57px;
  top: 60px;
  height: 100px;
  width: 122px;
}

/*------------- LOG IN PAGE -------------*/

h1 {
  color: var(--black);
  text-align: center;
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 12px;
}

.not-a-join-user {
  position: absolute;
  top: 67px;
  right: 8.5%;
  display: inline-flex;
  align-items: center;
}

.not-a-join-user p {
  display: flex;
  align-items: center;
  color: #000;
  width: 153px;
  height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.not-a-join-user button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: var(--white);
  width: 91px;
  height: 49px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
}

.not-a-join-user button:hover {
  background-color: var(--light-blue);
}

.not-a-join-user button:active {
  background-color: var(--black);
}

.d-none {
  display: none;
}

/*------------- LOG IN PAGE - CONTENT -------------*/

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 422px;
  height: 397px;
  background: var(--white);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  padding: 48px 115px;
}

.login-content h1 {
  margin-top: 0;
}

.login-content img {
  margin-bottom: 32px;
}

.login-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.login-input-fields input {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 32px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
  background-position-x: calc(100% - 21px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.login-input-fields input:focus {
  outline-color: var(--light-blue);
}

.input-icon-mail {
  background-image: url("/assets/img/mail.svg");
}

.input-icon-lock {
  background-image: url("/assets/img/lock.svg");
}

.login-check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding-right: 40%;
  margin-bottom: 32px;
}

.login-check-button input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.login-check-button label {
  cursor: pointer;
  margin-left: 6px;
}

.login-buttons {
  margin-top: 12px;
  display: flex;
  justify-content: space-evenly;
}

.login-btn {
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  border: 0;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  margin-right: 32px;
}

.login-btn:hover {
  background-color: var(--light-blue);
}

.login-btn-guest {
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  border: 0;
  background: var(--white);
  color: var(--black);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  border: 1px solid var(--dark-blue);
  background: var(--white);
}

.login-btn-guest:hover {
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

/*------------- SIGNUP PAGE -------------*/

h1 {
  color: var(--black);
  text-align: center;
  font-size: 61px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

/*------------- SIGNUP PAGE - CONTENT -------------*/

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 422px;
  height: 534px;
  background: var(--white);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  padding: 48px 88px;
}

.signup-content img:nth-child(2) {
  margin-bottom: 32px;
}

.signup-content img:nth-child(3) {
  cursor: pointer;
  position: absolute;
  top: calc(8px + 48px);
  left: calc(24px + 88px);
  height: 34px;
  width: 34px;
}

.signup-content img:hover:nth-child(3) {
  background-color: var(--very-light-gray);
  border-radius: 16px;
}

.input-icon-name {
  background-image: url("/assets/img/person.svg");
}

.signup-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.signup-input-fields input {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 12px 21px;
  background-position-x: calc(100% - 21px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.signup-input-fields input:focus {
  outline-color: var(--light-blue);
}

.signup-check-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 32px 0;
}

.signup-check-button input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.signup-check-button label {
  cursor: pointer;
  margin-left: 6px;
}

.signup-check-button a {
  color: var(--light-blue);
  text-decoration: none;
}

.signup-check-button a:hover {
  text-decoration: underline;
}

.signup-btn {
  height: 48px;
  padding: 0 24px;
  border-radius: 8px;
  border: 0;
  background: var(--dark-blue);
  color: var(--white);
  cursor: pointer;
  font-size: 21px;
  font-weight: 700;
  margin-right: 32px;
}

.signup-btn:hover {
  background-color: var(--light-blue);
}

/*------------- FOOTER -------------*/

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 48px;
}

footer div {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  padding: 8px;
  cursor: pointer;
  width: 110px;
  height: 19px;
}

footer div:hover {
  color: var(--light-blue);
  font-weight: 600;
}

/*------------- MOBILE -------------*/

@media (max-width: 700px) {
  .logo {
    left: 38px;
    top: 37px;
    height: 64px;
    width: 78px;
  }

  .login-content {
    width: 396px;
    height: 451px;
    padding: 32px 0;
  }

  .login-input-fields,
  .signup-input-fields {
    width: 80%;
  }

  .login-buttons {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .login-btn,
  .signup-btn {
    margin-bottom: 21px;
  }

  .not-a-join-user {
    top: unset;
    right: unset;
    bottom: 99px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .signup-content {
    width: 396px;
    height: 531px;
    padding: 32px 0;
  }

  .signup-content img:nth-child(3) {
    top: calc(8px + 32px);
    left: 24px;
  }

  footer {
    margin-bottom: 22px;
  }
}

/*------------- MEDIA -------------*/

@media (max-width: 400px) {
  .login-content,
  .signup-content {
    width: 296px;
  }

  .login-input-fields,
  .signup-input-fields {
    width: 70%;
  }

  .login-check-button {
    padding: 0;
  }

  .signup-content img:nth-child(3) {
    top: 102px;
  }
}
