@media (max-width: 1230px) {
  .btn_frames {
    padding: 40px;
  }

  .welcome_box {
    padding-left: 70px;
  }
}

@media (max-width: 1155px) {
  .mobile_lost {
    display: none;
  }

  .header {
    padding-left: 40px;
  }

  .btn_frames {
    justify-content: center;
    padding: 0px;
    padding-top: 20px;
  }
}

@media (max-width: 950px) {
  .mobile_lost {
    display: none;
  }
}

@media (max-width: 983px) {
  .title {
    font-size: 50px;
  }

  .metrics_title {
    font-size: 24px;
  }
}

@media (max-width: 680px) {
  .bg_container {
    padding-top: 32px;
  }
  .metrics_title,
  .title {
    width: 270px;
    padding: 0;
  }

  .header {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0px;
  }

  .btn_frames {
    padding: 0px;
    padding-top: 24px;
    flex-direction: column;
  }

  .mobile_lost {
    display: none;
  }

  .frame_urgent {
    gap: 20px;
  }

  .new_tasks {
    width: 145px;
  }

  .mobile_visible {
    display: flex;
    padding-top: 18px;
  }

  .frame_pencil {
    padding: 29px 36px;
  }

  .frame_rectangle {
    padding: 29px 36px;
  }

  .blue_bar {
    display: none;
  }
}

@media (max-width: 580px) {
  .first_frame {
    gap: 18px;
  }

  .frame_pencil,
  .frame_rectangle {
    padding: 21px;
  }

  .frame_urgent {
    padding: 24px;
  }

  .new_tasks {
    width: 120px;
    height: 140px;
  }

  .date,
  .no_deadline {
    font-size: 18px;
  }

  .deadline {
    font-size: 15px;
  }

  .mobile_visible {
    display: flex;
    padding-top: 18px;
  }

  .blue_bar {
    display: none;
  }

  .metrics_title {
    padding: 0;
  }
}

@media (max-width: 505px) {
  .tasks {
    padding: 0;
  }

  .ellipse,
  .not_displayed {
    height: 40px;
    width: 40px;
  }

  .pencil {
    width: 17.77px;
    height: 16.98px;
    top: 12.17px;
    left: 11.5px;
  }

  .rectangle {
    width: 17.77px;
    height: 16.98px;
    top: 12.17px;
    left: 11.5px;
  }

  .frame_pencil,
  .frame_rectangle {
    justify-content: center;
    gap: 5;
    padding: 18px 39px;
  }

  .peak_up {
    width: 26.19px;
    height: 12.17px;
    top: 16px;
    left: 7px;
  }

  .peak_down {
    width: 26.19px;
    height: 12.17px;
    top: 10px;
    left: 7px;
  }

  .new_tasks {
    width: 100px;
    height: 100px;
    gap: 0;
  }

  .txt_number {
    font-size: 44px;
    line-height: normal;
  }
}

@media (max-width: 430px) {
  .frame_pencil,
  .frame_rectangle {
    justify-content: center;
    padding: 5px 10px;
  }

  .frame_urgent {
    width: 250px;
  }

  .frame_down {
    gap: 12px;
  }

  .new_tasks {
    width: 75px;
    height: 140px;
  }

  .txt_todo {
    font-size: 15px;
  }
  .date,
  .no_deadline {
    font-size: 15px;
    width: 80px;
  }

  .deadline {
    font-size: 12px;
  }

  .frame_urgent {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .tasks,
  .new_tasks {
    height: auto;
  }

  .urgent_txt {
    width: auto;
  }

  .frame_urgent {
    gap: 10px;
  }
}
