@media (max-width: 680px) {
  .header {
    width: 90% !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding-left: 0px !important;
  }
 
  .metrics_title{
    padding-left: 0px !important;
  }

  .btn_frames {
    padding: 0px !important;
    padding-top: 24px !important;
    flex-direction: column !important;
  }
}
.mobile_lost {
  display: none !important;
}

@media (max-width: 480px) {
  .bg_container {
    padding-top: 32px !important;
  }

  .header {
    width: 90% !important;
    flex-direction: column !important;
    padding-left: 12px !important;
    align-items: flex-start !important;
  }

  .title {
    font-size: 47px !important;
    width: max-content !important;
  }

  .metrics_title {
    font-size: 20px !important;
    width: max-content !important;
    padding-left: 0px !important;
  }

  .first_frame {
    gap: 100px !important;
  }

  .frame_up {
    gap: 75px !important;
  }

  .frame_down {
    gap: 75px;
  }

  .btn_frames {
    padding: 0px !important;
    padding-top: 24px !important;
    flex-direction: column !important;
  }

  .frame_pencil {
    padding: 0px !important;
    gap: 8px !important;
  }

  .frame_rectangle {
    padding: 0px !important;
    gap: 8px !important;
  }

  .ellipse {
    height: 40px !important;
    width: 40px !important;
  }

  .pencil {
    width: 17.77px !important;
    height: 16.98px !important;
    top: 12.17px !important;
    left: 11.5px !important;
  }

  .rectangle {
    width: 17.77px !important;
    height: 16.98px !important;
    top: 12.17px !important;
    left: 11.5px !important;
  }

  .txt_number {
    font-size: 47px !important;
  }

  .tasks {
    padding-right: 0px !important;
  }

  .frame_urgent {
    padding: 0px !important;
    gap: 36px !important;
  }

  .peak_up {
    width: 26.19px !important;
    height: 12.17px !important;
    top: 16px !important;
    left: 7px !important;
  }

  .peak_down {
    width: 26.19px !important;
    height: 12.17px !important;
    top: 10px !important;
    left: 7px !important;
  }

  .date {
    font-size: 15px !important;
    width: 160px !important;
  }

  
  .urgent_txt {
    width: 80px !important;
  }

  .new_tasks {
    width: 60px !important;
    height: 60px !important;
    gap: 4px !important;
  }

 

  .mobile_lost {
    display: none !important;
  }

  .mobile_visible {
    display: flex !important;
    padding-top: 18px !important;
  }
}

@media (max-width: 320px) {
  .bg_container {
    padding-top: 32px !important;
  }

  .header {
    width: 90% !important;
    flex-direction: column !important;
    padding-left: 12px !important;
    align-items: flex-start !important;
  }

  .title {
    font-size: 47px !important;
    width: max-content !important;
  }

  .metrics_title {
    font-size: 20px !important;
    width: max-content !important;
    padding-left: 0px !important;
  }

  .first_frame {
    gap: 100px !important;
  }

  .btn_frames {
    padding: 0px !important;
    padding-top: 24px !important;
    flex-direction: column !important;
  }

  .frame_pencil {
    padding: 0px !important;
    gap: 8px !important;
  }

  .frame_rectangle {
    padding: 0px !important;
    gap: 8px !important;
  }

  .ellipse {
    height: 40px !important;
    width: 40px !important;
  }

  .pencil {
    width: 17.77px !important;
    height: 16.98px !important;
    top: 12.17px !important;
    left: 11.5px !important;
  }

  .rectangle {
    width: 17.77px !important;
    height: 16.98px !important;
    top: 12.17px !important;
    left: 11.5px !important;
  }

  .txt_number {
    font-size: 47px !important;
  }

  .tasks {
    padding-right: 0px !important;
  }

  .frame_urgent {
    padding: 0px !important;
    gap: 8px !important;
  }

  .peak_up {
    width: 26.19px !important;
    height: 12.17px !important;
    top: 16px !important;
    left: 7px !important;
  }

  .peak_down {
    width: 26.19px !important;
    height: 12.17px !important;
    top: 10px !important;
    left: 7px !important;
  }

  .date {
    font-size: 15px !important;
    width: 80px !important;
  }

  .deadline {
    font-size: 12px !important;
  }

  .urgent_txt {
    width: 80px !important;
  }

  .new_tasks {
    width: 60px !important;
    height: 60px !important;
    gap: 4px !important;
  }

  .txt_todo {
    font-size: 15px !important;
  }

  .mobile_lost {
    display: none !important;
  }

  .mobile_visible {
    display: flex !important;
    padding-top: 18px !important;
  }
}
