@font-face {
    font-family: Figtree;
    src: url('./Figtree-VariableFont_wght.ttf'); /*gerne in den Font-Ordner verschieben, ich habe es nicht anders hinbekommen. L*/
}
body{
    font-family: 'Figtree';
    height: 100vh !important;
    width: 100vw;
    font-size:3vw;
    margin: 0;
    overflow: hidden;
}
.left-frame{
    position: fixed;
    width: 232px;
    /* width: 16.1vw; */
    height: 1024px;
    background-color: var(--dark-blue);
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
}
.upper-frame{
    display: flex;
    position: fixed;
    top:0;
    left: 348px;
    height: 96px;
    /* height:  9.3vh; */
    width: 100%;
    box-shadow: 6px 0 2px rgb(0,0,0,0.2);
}


.upper-frame span{
align-self: center;
font-size: 20px;
/* font-size: 2.2vh; */
}


.logo-up-left{
    width: 100.03px;
    height: auto;
    align-self: center;
    justify-self: center;
    padding-top: 4vh;
}
.nav-links img{
    width: 100%;
}
.nav-links img:hover, .reference div:hover{
    background-color: #091931;
    cursor: pointer;
}

.reference{
    display: flex;
    flex-direction: column;
    padding-bottom: 6vh;
}
.reference div{
  width: 100%;
 display: flex;
 text-align: center;
 justify-content: center;
 padding-top: 2vh;
 padding-bottom: 2vh;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: #B2B3B6;
}
@media(orientation:portrait) {
    .logo-up-left{
        width: 37px;
        height: 38px;
    }
    
    .nav-links{
        display: none;
    }
    .left-frame{
        display: none;
    }
    .upper-frame span{
        display: none;
    }
    .upper-frame{
        background-image: url('../assets/img/Join-dark.png');
        justify-content: space-between;
    }
}