body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: "Figtree", sans-serif;
    overflow: hidden;
}

.bg_container {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 100px;
    left: 200px;

}

.header {
    position: fixed;
    top: 206px;
    right: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {

    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    width: 295px;
    height: 73px;
}

.metrics_title {
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 337px;
    height: 32px;
    padding-left: 24px;
}

.first_frame {
    width: 560px;
    height: 562px;
    top: 335px;
    left: 328px;
    gap: 28px;
    
    display: flex;
    position: relative;
    flex-direction: column;
}

.frame_up {
    
    width: 560px;
    height: 168px;
    gap: 32px;
    display: flex;
}

.urgent {
    
    width: 560px;
    height: 168px;

}

.frame_down {
    
    width: 560px;
    height: 170px;
    top: 392px;
    padding: 1px, 0px, 1px, 0px;
    gap: 32px;
}


.btn_frames{
    display: flex;
    width: 945px;
    height: 562px;
}
.welcome{
    position: relative;
    
    height: 136px;
    top: 547.5px;
    left: 968px;
    gap: 3px;
    
}
.frame_pencil{
    width: 264px;
    height: 168px;
    display: flex;
}

.ellipse{
    width: 69px;
    height: 69px;
    position: absolute;
    top: 49.5px;
    right: 128.5px;
}

.pencil{
    width: 24.37px;
    height: 24.33px;
    position: absolute;
    top: 71.17px;
    right: 148.5px;
}

.btn_pencil{
    position: relative;
}

.tasks{
    display: flex;
    flex-direction: column;
}

.txt_number{
    width: 50px;
    height: 77px;
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
}

.txt_todo{
    width: 50px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}