@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

body {
  margin: 0;
  background-color: var(--very-light-gray);
  font-family: "Inter", sans-serif !important;
}

.bg_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.header {
  display: flex;
  align-items: center;
  width: 90%;
  padding-left: 80px;
}

.title {
  font-size: 61px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  width: 295px;
  height: 73px;
}

.metrics_title {
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 337px;
  height: 32px;
  padding-left: 24px;
}

.first_frame {
  gap: 28px;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 560px;
}

.frame_up {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.urgent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame_down {
  align-items: center;
  display: flex;
  gap: 32px;
}

.btn_frames {
  display: flex;
  align-items: center;
  padding: 64px;
  margin-bottom: 48px;
  width: 90%;
}

.welcome_box {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
}

.welcome {
  font-family: Inter;
  font-size: 47px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.welcome_txt {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--light-blue);
}

.frame_pencil {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  padding: 38px 58px;
  border-radius: 30px;
  color: black;
  cursor: pointer;
}

.frame_pencil:hover {
  background-color: var(--dark-blue);
  color: white;
}

.frame_rectangle {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  padding: 38px 58px;
  border-radius: 30px;
  cursor: pointer;
}

.frame_rectangle:hover {
  background-color: var(--dark-blue);
  color: white;
}

.frame_urgent {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  padding: 38px 19px;
  border-radius: 30px;
  color: black;
  cursor: pointer;
}

.frame_urgent:hover {
  background-color: var(--dark-blue);
  color: white;
}

.ellipse {
  width: 69px;
  height: 69px;
 
}

.circle {
  width: 69px;
  height: 69px;
  position: absolute;
}

.pencil {
  width: 24.37px;
  height: 24.33px;
  position: absolute;
  top: 21.17px;
  left: 21.5px;
}

.pencil_blue {
  width: 24.37px;
  height: 24.33px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.frame_pencil:hover .change_color {
  display: flex;
}

.frame_pencil:hover .pencil_blue {
  display: flex;
}

.frame_pencil:hover .hidden_pencil {
  display: none;
}

.frame_rectangle:hover .change_color {
  display: flex;
}

.frame_rectangle:hover .pencil_blue {
  display: flex;
}

.frame_rectangle:hover .hidden_pencil {
  display: none;
}

.rectangle {
  width: 29.94px;
  height: 22.13px;
  position: absolute;
  top: 21.17px;
  left: 21.5px;
}

.btn_pencil {
  position: relative;
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 63px;
  height: 101px;
  padding-right: 36px;
  align-items: center;
}

.txt_number {
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
}

.txt_todo {
  width: 77px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.peak_up {
  width: 34.19px;
  height: 15.17px;
  position: absolute;
  top: 21px;
  left: 17px;
}

.peak_down {
  width: 34.19px;
  height: 15.17px;
  position: absolute;
  top: 30px;
  left: 17px;
}

.gray_bar {
  height: 102.02px;
  border: 2px;
  padding-left: 12px;
  padding-right: 12px;
}

.date {
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 206px;
}

.deadline {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.urgent_txt {
  display: flex;
  flex-direction: column;
  width: 178px;
  height: 89px;
  gap: 13px;
  justify-content: center;
}

.new_tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  gap: 13px;
}

.new_tasks:hover {
  background-color: var(--dark-blue);
  color: white;
}

.desk_hidden {
  display: none;
}

.not_displayed {
  display: none;
}

@media (max-width: 680px) {
  .header {
    width: 90% ;
    flex-direction: column ;
    align-items: flex-start ;
    padding-left: 0px ;
  }

  .metrics_title {
    padding-left: 0px ;
  }

  .btn_frames {
    padding: 0px ;
    padding-top: 24px ;
    flex-direction: column ;
  }

  .mobile_lost {
    display: none ;
  }
}

@media (max-width: 580px) {
  .frame_pencil {
    padding: 0px ;
    gap: 8px ;
  }

  .frame_rectangle {
    padding: 0px ;
    gap: 8px ;
  }

  .frame_urgent {
    padding: 0px ;
    padding-top: 36px ;
    padding-bottom: 36px ;
    gap: 36px ;
  }
  .frame_down {
    gap: 16px ;
  }
}

@media (max-width: 480px) {
  .bg_container {
    padding-top: 32px;
  }

  .header {
    width: 90%;
    flex-direction: column;
    padding-left: 12px;
    align-items: flex-start;
  }

  .title {
    font-size: 47px;
    width: max-content;
  }

  .metrics_title {
    font-size: 20px;
    width: max-content;
    padding-left: 0px;
  }

  .first_frame {
    gap: 100px;
  }

  .frame_up {
    gap: 75px;
  }

  .frame_down {
    gap: 75px;
  }

  .btn_frames {
    padding: 0px;
    padding-top: 24px;
    flex-direction: column;
  }

  .frame_pencil {
    padding: 0px;
    gap: 8px;
  }

  .frame_rectangle {
    padding: 0px;
    gap: 8px;
  }

  .ellipse {
    height: 40px;
    width: 40px;
  }

  .pencil {
    width: 17.77px;
    height: 16.98px;
    top: 12.17px;
    left: 11.5px;
  }

  .rectangle {
    width: 17.77px;
    height: 16.98px;
    top: 12.17px;
    left: 11.5px;
  }

  .txt_number {
    font-size: 47px;
  }

  .tasks {
    padding-right: 0px;
  }

  .frame_urgent {
    padding: 0px;
    gap: 36px;
  }

  .peak_up {
    width: 26.19px;
    height: 12.17px;
    top: 16px;
    left: 7px;
  }

  .peak_down {
    width: 26.19px;
    height: 12.17px;
    top: 10px;
    left: 7px;
  }

  .date {
    font-size: 15px;
    width: 160px;
  }

  .urgent_txt {
    width: 80px;
  }

  .new_tasks {
    width: 60px;
    height: 60px;
    gap: 4px;
  }

  .mobile_visible {
    display: flex;
    padding-top: 18px;
  }
}

@media (max-width: 320px) {
  .bg_container {
    padding-top: 32px;
  }

  .header {
    width: 90%;
    flex-direction: column;
    padding-left: 12px;
    align-items: flex-start;
  }

  .title {
    font-size: 47px;
    width: max-content;
  }

  .metrics_title {
    font-size: 20px;
    width: max-content;
    padding-left: 0px;
  }

  .first_frame {
    gap: 100px;
  }

  .btn_frames {
    padding: 0px;
    padding-top: 24px;
    flex-direction: column;
  }

  .frame_pencil {
    padding: 0px;
    gap: 8px;
  }

  .frame_rectangle {
    padding: 0px;
    gap: 8px;
  }

  .ellipse {
    height: 40px;
    width: 40px;
  }

  .pencil {
    width: 17.77px;
    height: 16.98px;
    top: 12.17px;
    left: 11.5px;
  }

  .rectangle {
    width: 17.77px;
    height: 16.98px;
    top: 12.17px;
    left: 11.5px;
  }

  .txt_number {
    font-size: 47px;
  }

  .tasks {
    padding-right: 0px;
  }

  .frame_urgent {
    padding: 0px;
    gap: 8px;
  }

  .peak_up {
    width: 26.19px;
    height: 12.17px;
    top: 16px;
    left: 7px;
  }

  .peak_down {
    width: 26.19px;
    height: 12.17px;
    top: 10px;
    left: 7px;
  }

  .date {
    font-size: 15px;
    width: 80px;
  }

  .deadline {
    font-size: 12px;
  }

  .urgent_txt {
    width: 80px;
  }

  .new_tasks {
    width: 60px;
    height: 60px;
    gap: 4px;
  }

  .txt_todo {
    font-size: 15px;
  }

  .mobile_visible {
    display: flex;
    padding-top: 18px;
  }
}