:root {
  --black: #000;
  --white: #fff;
  --dark-blue: #2a3647;
  --dark-blue2: #2a3d59;
  --very-dark-blue: #091931;
  --blue-gray: #42526e;
  --gray: #a8a8a8;
  --light-gray: #d1d1d1;
  --very-light-gray: #f6f7f8;
  --very-light-gray2: #e7e7e7;
  --very-light-gray3: #f4f4f4;
  --very-light-gray4: #cdcdcd;
  --light-blue: #29abe2;
  --medium-blue: #4589ff;
  --light-red: #ff8190;
  --silver: #b2b3b6;
  --blue: #0038ff;
  --cerulian-blue: #007cee; /*Email-Adresse*/
  --red: #ff0000;
  --green: #00ff00;
  --blue: #0000ff;
  --orange: #ffa500;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #8b4513;
  --cyan: #00ffff;
  --magenta: #ff00ff;
  --turquoise: #1fd7c1;
  --yellow: #ffee00;
}
@font-face {
  font-family: "Figtree", sans-serif;
  src: url("./fonts/Figtree/Figtree-VariableFont_wght.ttf");
}

html {
  overflow: hidden;
}

body {
  font-family: "Figtree", sans-serif;
  margin: auto 0;
  height: 100vh;
}

h1 {
  color: var(--black);
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 48px;
}
button {
  font-family: "Figtree", sans-serif;
}

.badge {
  width: 42px;
  border-radius: calc(0.5 * 42px);
  height: 42px;
  color: white;
  font-size: smaller;
}

.badge span {
  height: 100%;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: "Figtree", sans-serif;
}

.d-none {
  display: none !important;
}

/*------------- MOBILE HEADER -------------*/

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.mobile-header-logo {
  position: absolute;
  left: 16px;
  top: 20.5px;
  height: 39px;
  width: 32px;
}

.mobile-header-left-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 20px;
}

.mobile-header-userimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid var(--black);
  border-radius: 25px;
  background-color: var(--white);
  color: var(--light-blue);
  cursor: pointer;
}

.mobile-header-userimg:hover {
  background-color: var(--very-light-gray2);
}

.mobile-header-helpimg {
  display: flex;
  align-items: center;
  width: 56px;
  cursor: pointer;
}

.mobile-header-helpimg:hover {
  filter: invert(60%) sepia(58%) saturate(1629%) hue-rotate(165deg)
    brightness(92%) contrast(92%);
}

/*------------- MOBILE NAVBAR -------------*/

.mobile-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: var(--dark-blue);
}

.mobile-navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 65px;
  cursor: pointer;
}

.mobile-navbar-link:hover {
  background-color: var(--very-dark-blue);
  border-radius: 8px;
}

.mobile-navbar p {
  color: var(--very-light-gray4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 8px 0 0 0;
}

/*------------- CONTENT -------------*/

.content {
  position: fixed;
  top: 90px;
  left: 232px;
  right: 0;
  height: calc(100% - (96px));
  overflow: auto;
  background-color: var(--very-light-gray);
}

@media (max-width: 859px) {
  .content {
    top: 82px;
    left: 0;
    right: 0;
    height: calc(100% - (80px + 80px));
  }
  #board-page {
    padding-top: 48px;
  }
  #add-task-page {
    padding-top: 48px;
  }
}

/*------------- PRIVACY POLICY, LEGAL NOTICE & HELP -------------*/

.navbar-links {
  padding: 79.5px 64px 0 64px;
  font-size: 16px;
  font-weight: 400;
}

.navbar-links a {
  text-decoration: none;
  color: var(--gray);
}

.navbar-links a:hover {
  color: var(--light-blue);
}

.header-help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header-help img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 48px;
}

.header-help img:hover {
  width: 36px;
  height: 36px;
  background-color: var(--light-gray);
  border-radius: 18px;
}

.help-color {
  color: var(--light-blue);
}

.navbar-links h1 {
  font-size: 61px;
  font-weight: 700;
}

.navbar-links h2 {
  font-size: 27px;
  font-weight: 700;
  margin: 24px 0;
}

.navbar-links h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.navbar-links table tr td:first-child {
  display: flex;
  font-size: 27px;
  font-weight: 700;
  margin-right: 35px;
}

.wrapping-wort {
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

@media (max-width: 634px) {
  .navbar-links {
    padding: 48px 16px 0 16px;
  }

  .navbar-links h1 {
    font-size: 36px;
    font-weight: 700;
  }
}

/*------------- INFORMATION WINDOW -------------*/

#information-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid lightgray;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  padding: 24px;
}

/*------------- SCROLLBAR -------------*/

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 10px;
  border: 3px solid var(--white);
}

/*------------- DIALOG -------------*/

.dialog-bg {
  z-index: 8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: transform 0.1s ease-in-out;
}

.dialog {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 64px 74px !important;
}

.dialog-show {
  transform: translateX(0%);
}

.dialog-hide {
  transform: translateX(100%);
}
