:root {
  --black: #000;
  --white: #fff;
  --dark-blue: #2a3647;
  --blue-gray: #42526e;
  --gray: #a8a8a8;
  --light-gray: #d1d1d1;
  --very-light-gray: #f6f7f8;
  --very-light-gray2: #e7e7e7;
  --very-light-gray3: #f4f4f4;
  --light-blue: #29abe2;
  --medium-blue: #4589ff;
  --light-red: #ff8190;
  --red: #ff3d00;
  --orange: #ffa800;
  --green: #7ae229;
  --side-bar: #B2B3B6
  --blue: #0038ff;
  --türkis: #1fd7c1;
  --lila: #462f8a;
}

body {
  font-family: "Figtree", sans-serif;
  margin: auto 0;
  height: 100vh;
}

h1 {
  color: var(--black);
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 48px;
}
button{
  font-family: "Figtree", sans-serif;
}

.badge{
  width: 42px;
  border-radius: calc(0.5*42px);
  height: 42px;
  color: white;
  font-size: smaller;
}

.badge span{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.mobile-header-logo {
  position: absolute;
  left: 16px;
  top: 20.5px;
  height: 39px;
  width: 32px;
}

.mobile-header-userimg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 20px;
  height: 40px;
  width: 40px;
  border: 2px solid var(--black);
  border-radius: 25px;
  color: var(--light-blue);
  cursor: pointer;
}

/*------------- SCROLLBAR -------------*/

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 10px;
  border: 3px solid var(--white);
}
